@font-face {
    font-family: "Ubuntu";
    src: url("./assets/fonts/Ubuntu-Regular.ttf");
}
@font-face {
    font-family: "Ubuntu-light";
    src: url("./assets/fonts/Ubuntu-Light.ttf");
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
    margin: 0;
    padding: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Ubuntu";
    overflow: hidden;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

:root {
    --background-color: hsl(0, 0%, 97%);
    --text-color: #303030;
    --second-text-color: #aaaaaa;
}

ul {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 18px;
    background-color: var(--background-color);
}

.btn {
    all: unset;
    text-transform: capitalize;
    background-color: var(--text-color);
    color: white;
    height: 28px;
    padding: 0 10px;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
}

h1 {
    font-size: 28px;
    color: var(--text-color);
    font-weight: 600;
}

li {
    display: flex;
    padding: 10px 18px;
    border-bottom: 1px solid #aaaaaa65;
    cursor: pointer;
    transition: background-color 180ms ease-in-out;
}

li:hover {
    background-color: var(--background-color);
}

li img {
    width: 24px;
    margin-right: 18px;
}

li p {
    color: var(--text-color);
    font-size: 16px;
}

li span {
    font-family: "Ubuntu";
    font-size: 12px;
    color: var(--second-text-color);
}

.notification {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 50px);
    background-color: var(--text-color);
    padding: 10px 14px;
    border-radius: 3px;
    font-size: 12px;
    color: white;
    text-transform: capitalize;
    transition: transform 300ms ease-in-out;
}

.notification.active {
    transform: translate(-50%, 0px);
}

.about {
    background-color: var(--background-color);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
}

.about a {
    font-size: 12px;
    color: var(--text-color);
}
